.search-results {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
}

.results {
  list-style: none;
  margin-bottom: 2rem;
}

.pagination {
  margin-top: auto;
  padding: 0 3.5rem;

  &::after {
    content: '';
    display: table;
    clear: both;
  }

  &__btn {
    &--prev {
      float: left;
    }
    &--next {
      float: right;
    }
  }
}

.copyright {
  text-align: center;
  color: $color-grey-dark-2;
  font-size: 1.2rem;
  padding: 0 3.5rem;
  margin-top: 4rem;

  .website-link:link,
  .website-link:visited {
    font-weight: 700;
    text-decoration: none;
    color: $color-grey-dark-1;
  }
  .website-link:hover {
    color: $color-grey-dark-1;
  }
}
